*,p,button {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

html,body {
    width: fit-content;
    min-width: 100%;
    height: fit-content;
    min-height: 100%;
}

#top-panel {
    width: fit-content;
    min-width: 100%;
    height: 100vh;
}

.main {
    display: none;
}

#nav-bar {
    position: absolute;
    top: 0;;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    display: none;
}

#main-container {
    width: 100%;
    height: fit-content;
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url('resources/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 3px solid rgb(44, 44, 44);
    display: none;
}

#main-name-container {
    width: fit-content;
    height: fit-content;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#portfolio-image {
    height: 60vh;
    width: auto;
}

#contact-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact-icon {
    margin: 0 1rem;
    border: 2px solid black;
}

#intro-container {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222222;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");

}

#name-container {
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-weight: 800;
}

#first-name {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#last-name {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.letter-container {
    text-transform: uppercase;
    min-width: 1em;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.letter {
    margin: 0 auto;
}

/* PC format */
@media screen and (min-width: 601px) {
    #nav-bar {
        height: 10%;
    }

    .nav-button {
        font-size: 1.8rem;
        padding: .5rem 2rem;
    }

    #main-name {
        font-size: 8rem;
        padding: 2rem .5rem 0 .5rem;
    }

    #main-title {
        font-size: 4rem;
        padding: 0 .5rem;
    }

    .contact-icon {
        width: 5rem;
        height: 5rem;
    }

    #name-container {
        height: 90%;
    }
    
    .letter-container {
        font-size: 5rem;
    }

    #name-space {
        display: none;
    }

    #lock-image {
        width: auto;
        height: auto;
    }
}

/* Mobile format */
@media screen and (max-width: 600px) {
    #nav-bar {
        height: 6%;
    }

    .nav-button {
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }

    #main-name {
        font-size: 3rem;
        padding: .5rem;
    }

    #main-title {
        font-size: 2rem;
    }

    #portfolio-image {
        display: none;
    }

    .contact-icon {
        width: 3rem;
        height: 3rem;
    }

    #name-container {
        height: 94%;
    }

    .letter-container {
        font-size: 3rem;
    }

    #name-space {
        display: none;
    }

    #lock-image {
        width: 100%;
        height: auto;
    }
}

.shake {
    animation: shake .5s;
    animation-iteration-count: infinite;
}

.explode {
    animation: explode .8s;
    animation-iteration-count: 1;
}

@keyframes shake {
    10% { transform: rotate(-4deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(4deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(4deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(-4deg); }
    100% { transform: rotate(0deg); }
}

@keyframes explode {
    90% { transform:scale(.5); }
    100% { transform:scale(10); }
}