[submodule "frontEnd/arcade/Snake"]
	path = frontEnd/arcade/Snake
	url = https://github.com/johnb1003/Snake.git
[submodule "Snake"]
	path = frontEnd/arcade/Snake
	url = https://github.com/johnb1003/Snake.git
[submodule "2048"]
	path = frontEnd/arcade/2048
	url = https://github.com/johnb1003/2048.git
[submodule "mineSweeper"]
	path = frontEnd/arcade/mineSweeper
	url = https://github.com/johnb1003/mineSweeper.git
